h1,h2,h3,h4,h5,h6 {
    color: var(--color-black);
}
.nav-style {
    background-color: var(--color-black); 
}
.nav-style a, svg{
    background-color: var(--color-black);
    color: var(--color-yellow);
}
.nav-style button>span{
    background-color: var(--color-dark-yellow);
    border-radius: 4px;
}

body{
    background-color: var(--color-black);
}

.movie-carousel div{
    border-radius: 3px;
}
.carousel-inner> div{
    height: 350px;
     
}

.movie-carousel-caption {   
    text-align: left;
    top: 100px;
    left: 120px;
    width: 30%;
    height: 140px; 
    color: var(--color-white)
} 
.movie-carousel-caption >a{  
    color: var(--color-white);  
    font-size: 20px;
} 
.movie-carousel-caption >button{   
    margin-top: 8px;
    color: var(--color-black);
    background-color: var(--color-white);  
} 
.carousel-inner >img{
    opacity: 0.7;
}

.popular-movies>h4{
    color: var(--color-yellow);
}