h1,h2,h3,h4,h5,h6 {
    color: var(--color-black);
}
a{
    text-decoration: none;
    color: var(--color-black);
}


.movie-carousel div{
    border-radius: 3px;
}
.carousel-inner> div{
    height: 350px; 
     
}

.movie-carousel-caption {   
    text-align: left;
    top: 100px;
    left: 170px;
    width: 20%;
    height: 140px; 
    color: var(--color-black);
} 
.movie-carousel-caption >h3{
    background-color: var(--color-white);
    opacity: 0.6; 
}
.movie-carousel-caption >a{  
    background-color: var(--color-white);
    opacity: 0.6; 
    font-size: 20px;
} 
.movie-carousel-caption >button{   
    margin-top: 8px;
    color: var(--color-black);
    background-color: var(--color-white);  
} 
.movie-carousel-caption >button:hover{
    background-color: var(--color-white);
    opacity: 0.5;
}
.carousel-inner img{
    opacity: 0.8;
}

.movies-today>h4{
    color: var(--color-yellow);
}
.movies-today{
    color:var(--color-white);
}
.popular-movies>h4{
    color: var(--color-yellow);
}
.movie-card {
    position: relative;  
}

.movie-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(0.9);
    z-index: 0;
}

.movie-card-description{
    color: var(--color-yellow);
}
.card-body{
    z-index: 1;
}
.ticket-icon {
    font-size: 3rem;
    text-align: center;
    margin-top: 25%;
    color: var(--color-yellow);
    
}

.scrollable-movie-cards-today {
    display: flex;
    overflow-x: scroll;
    width: 100%;  
    scrollbar-width: none;  
}
.scrollable-movie-cards-latest {
    display: flex;
    overflow-x: scroll;
    width: 100%; 
    scrollbar-width: none; 
}

.scrollable-movie-cards-today::-webkit-scrollbar {
    display: none; 
}
.scrollable-movie-cards-latest::-webkit-scrollbar {
    display: none;  
}
.card.movie-card {
    flex: 0 0 auto; 
    margin-right: 15px;  
    width: 45%;
}

.scroll-btn {
    background-color: var(--color-black);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    top: 10px; 
    z-index: 3;  
}

#scroll-left {
    left: 0; 
}

#scroll-right { 
    left: 95%; 
    right: 0; 
}


#scroll-left-latest {
    left: 0; 
}

#scroll-right-latest{ 
    left: 99%;
    right: 0; 
}
/* modal */
body {
    font-family: Arial, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--color-black);
    color: var(--color-yellow);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: left;
    z-index: 5;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.movie-image {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}

.close-btn {
    color: var(--color-yellow);
    position: absolute;  /* Added this line */
    top: 10px;           /* Added this line */
    right: 10px;         /* Added this line */
    font-size: 28px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    cursor: pointer; 
    filter: brightness(0.8);
    
}

.close-btn:hover,
.close-btn:focus {
    color: var(--color-dark-yellow);
    text-decoration: none;
    cursor: pointer;
}
#todayCardBook1:hover, #todayCardBook1:focus{
    cursor: pointer;
}
#todayCardBook2:hover, #todayCardBook2:focus{
    cursor: pointer;
}
#todayCardBook3:hover, #todayCardBook3:focus{
    cursor: pointer;
}
#todayCardBook4:hover, #todayCardBook4:focus{
    cursor: pointer;
}
#todayCardBook5:hover, #todayCardBook5:focus{
    cursor: pointer;
}
#modalbookMovie{
 background-color: var(--color-yellow);
}
#modalbookMovie:hover{
    background-color: var(--color-dark-yellow);
   }

#movieModal{
    z-index: 100;
}
   
   
#movieModal span {
    color: var(--color-white);
}
#movieModal>a{
    color: var(--color-white);
}
#mainCardBook1{
    z-index: 5;
}
#mainCardBook2{
    z-index: 5;
}
#mainCardBook3{
    z-index: 5;
}
#mainCardBook3{
    z-index: 5;
} 