 body{
    background-color: var(--color-black);
}
.login-body{
    margin-top: 100px;
    width: 50%;
    background-color: var(--color-white);
    
}
.login-body h3,label{
    color: var(--color-black);
}

.login-body .btn{
    background-color: var(--color-yellow);
    width: 100%;
}

.login-body .btn:hover{
    background-color: var(--color-dark-yellow);
}